<body>
    <div class="men-principal-personal-admi">
        <div class="men-principal-personal-admi-child"></div>
        <b class="men-principal">Menú Principal</b>
        <i class="bienvenido">Bienvenido estudiante Jamil Tuncar</i>
        <i class="seleccione-una-opcin">Seleccione una opción:</i>
        <div class="men-principal-personal-admi-item">
            <p class="registrar">Registrar asistencia</p>
        </div>
        <div class="men-principal-personal-admi-inner">
            <p class="registrar">Localizar aula o laboratorio</p>
        </div>
        <div class="rectangle-div">
            <p class="registrar">Solicitar espacio de estudio</p>
        </div>
    </div>
</body>
