<body>
    <div class="bienvenida-admi">
        <div class="bienvenida-admi-child" id="rectangle">
        </div>
        <div class="center-container">
            <div class="sanmarcosconecta">SanMarcosConecta</div>
            <div class="bienvenido-a">Bienvenido a</div>
        </div>
    </div>

    <script>
        var rectangle = document.getElementById("rectangle");
        if (rectangle) {
            rectangle.addEventListener("click", function (e) {
                // Add your code here
            });
        }
    </script>
</body>