<body>
    <div class="men-principal-personal-admi">
        <div class="men-principal-personal-admi-child"></div>
        <b class="men-principal">Localización de aulas</b>
        <div class="men-principal-personal-admi-item">
            <p class="registrar">Aula</p>
            <p class="registrar">Pabellon</p>
            <p class="registrar">Piso</p>
        </div>
        <div class="men-principal-personal-admi-inner">
            <p class="registrar">Pabellon</p>
        </div>
        <div class="rectangle-div">
            <p class="registrar">Piso</p>
        </div>
        <div class="rectangle-div2">
            <p class="registrar">Enviar indicaciones</p>
        </div>
    </div>
</body>
