<body>
    <div class="men-principal-personal-admi">
        <div class="men-principal-personal-admi-child"></div>
        <b class="men-principal">Localización de aulas</b>
        <div class="men-principal-personal-admi-item">
            <p class="registrar">Aula:</p>
            <p class="registrar">Pabellon:</p>
            <p class="registrar">Piso:</p>
        </div>
        <div class="mapa">
        </div>
        <div class="enviar_notificacion">
            <p class="notificacion">Enviar indicaciones</p>
        </div>
    </div>
</body>
