body {
    margin: 0;
    line-height: normal;
    font-family: 'Inter', sans-serif;
}

.men-principal-personal-admi {
    width: 100%;
    position: relative;
    background-color: #e77a77;
    height: 100vh;
    overflow: hidden;
    text-align: left;
    font-size: 2.5vw;
    color: #000;
    font-family: Inter, sans-serif;
}

.men-principal-personal-admi-child {
    position: absolute;
    top: 6.94vh;
    left: 3.12vw;
    border-radius: 4vw;
    background-color: #f9df94;
    width: 93.62vw;
    height: 86.39vh;
}

.men-principal {
    position: absolute;
    top: 13.61vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.5vw;
    color: #54343f;
}


.men-principal-personal-admi-item,
.men-principal-personal-admi-inner,
.rectangle-div {
    position: absolute;
    border-radius: 3.25vw;
    background-color: #f6a570;
    width: 40vw;
    height: 20vh;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.men-principal-personal-admi-item {
    top: 30vh;
    left: 5vw;
}

.men-principal-personal-admi-inner {
    top: 40vh;
    left: 5vw;
}

.rectangle-div {
    top: 50vh;
    left: 5vw;
}
.rectangle-div2{
    position: absolute;
    border-radius: 3.25vw;
    background-color: #f6a570;
    width: 20vw;
    height: 5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    top: 85vh;
    left: 70vw;

}
.registrar {
    margin: 0;
    font-size: 1.5vw;
    font-weight: 500;
}

@media (max-width: 600px) {
    .men-principal-personal-admi-child,
    .men-principal,
    .bienvenido,
    .seleccione-una-opcin,
    .men-principal-personal-admi-item,
    .men-principal-personal-admi-inner,
    .rectangle-div {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        font-size: 5vw;
        height: auto;
    }

    .registrar {
        font-size: 5vw;
    }
}
